# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description = Apply base firewall rules
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/iptables-rules.sh

[Install]
WantedBy=multi-user.target
