<?php
// SPDX-FileCopyrightText: 2022 Nextcloud GmbH
// SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
// SPDX-License-Identifier: AGPL-3.0-or-later
$CONFIG = array (
  'trusted_domains' => [
    'localhost',
    '{{ project_nextcloud_domain_name }}',
  ],
  'trusted_proxies' => [
    '{{ lxd_host_network_part }}.{{ ingress_proxy_ip_addr_host_part }}',
    {% if host_public_ipv6 == true %}'{{ host_public_ipv6_prefix }}::{{ lxd_host_network_ipv6_subnet }}:{{ ingress_proxy_ip_addr_host_part }}',
    {% else %}'{{ lxd_host_private_ipv6_prefix }}::{{ lxd_host_network_ipv6_subnet }}:{{ ingress_proxy_ip_addr_host_part }}',
    {% endif %}

  ],
  'overwriteprotocol' => 'https',
  'overwrite.cli.url' => 'https://{{ project_nextcloud_domain_name }}/',
  'htaccess.RewriteBase' => '/',
  'upgrade.disable-web' => true,
  'simpleSignUpLink.shown' => false,
  'default_locale' => '{{ project_default_locale }}_{{ project_default_country_code }}',
  'default_phone_region' => '{{ project_default_country_code }}',
  'mysql.utf8mb4' => true,
  'apps_paths' => [
    [
      'path'     => OC::$SERVERROOT . '/apps',
      'url'      => '/apps',
      'writable' => false,
    ],
    [
      'path'     => OC::$SERVERROOT . '/apps-custom',
      'url'      => '/apps-custom',
      'writable' => true,
    ],
  ],
);
