<VirtualHost *:80>
    ServerAdmin {{ project_admin_email }}
    ServerName {{ project_nextcloud_domain_name }}
    DocumentRoot /var/www/{{ project_nextcloud_domain_name }}

    <Directory /var/www/{{ project_nextcloud_domain_name }}/>
        Options FollowSymLinks MultiViews
        Require all granted
        Satisfy Any
        AllowOverride All

        <IfModule mod_dav.c>
            Dav off
        </IfModule>
        
        SetEnv HOME /var/www/{{ project_nextcloud_domain_name }}
        SetEnv HTTP_HOME /var/www/{{ project_nextcloud_domain_name }}
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
