#!/bin/sh
# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

# If the file "BOOTSTRAPPED" *is* already present then run upgrade tasks
if [ -f "/var/www/{{ project_nextcloud_domain_name }}/nextcloud/config/BOOTSTRAPPED" ]; then
  
  # Copy maintenance.config.php from update directory to nextcloud/config
  cp -p /usr/local/update/maintenance.config.php /var/www/{{ project_nextcloud_domain_name }}/nextcloud/config/maintenance.config.php
  
  # Run nextcloud occ upgrade command
  cd /var/www/{{ project_nextcloud_domain_name }}/nextcloud && sudo -u www-data php --define apc.enable_cli=1 occ upgrade
  
  # Copy basic.config.php from bootstrapping directory to nextcloud/config
  cp -p /usr/local/bootstrap/basic.config.php /var/www/{{ project_nextcloud_domain_name }}/nextcloud/config/basic.config.php
  
  # Copy cache.config.php from bootstrapping directory to nextcloud/config
  cp -p /usr/local/bootstrap/cache.config.php /var/www/{{ project_nextcloud_domain_name }}/nextcloud/config/cache.config.php
  
  # Copy email.config.php from bootstrapping directory to nextcloud/config
  cp -p /usr/local/bootstrap/email.config.php /var/www/{{ project_nextcloud_domain_name }}/nextcloud/config/email.config.php

  # Remove maintenance.config.php
  rm /var/www/{{ project_nextcloud_domain_name }}/nextcloud/config/maintenance.config.php
  
  # Turn off maintenance mode 
  cd /var/www/{{ project_nextcloud_domain_name }}/nextcloud && sudo -u www-data php --define apc.enable_cli=1 occ maintenance:mode --off
  
  # Copy cronjob file from update directory to /etc/cron.d/
  cp -p /usr/local/bootstrap/nextcloud_housekeeping_cronjob /etc/cron.d/nextcloud_housekeeping_cronjob
  
  # Restart cron service
  /etc/init.d/cron restart
  
fi
