# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description="Consul service"
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
Type=exec
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul.d/ -retry-join={{ lxd_host_network_part }}.1
ExecReload=/bin/kill --signal HUP $MAINPID
ExecStop=/usr/bin/consul leave
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target