# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

datacenter = "{{ host_id }}"
data_dir   = "/opt/consul"
server      = false
client_addr = "0.0.0.0"
domain      = "ryo"